# .gitignore
# ignore all files
*
# don't ignore folder
!*/
# except those file extentions
!*.c++
!*.cc
!*.cp
!*.cpp
!*.cxx
!*.h
!*.h++
!*.hh
!*.hp
!*.hpp
!*.hxx
!*.C
!*.H
!*.c
!*.java
!*.py
!*.JAVA
!*.PY
